// COLORS



// FONT
// $font-extra-large: 5rem;
$font-extra-large: clamp(2.5rem, 3.5vw, 7rem);
$font-large: 2rem;
$font-large: clamp(1.5rem, 1.2vw, 3rem);
// $font-medium: 1.5rem;
$font-medium: clamp(1.2rem, 1vw, 4rem);
$font-small: 1rem;



$font: 'Mulish', sans-serif;
$font-light: 400;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-xbold: 800;
$font-rattman: 'Rattman';




// COLORS
$color-yellow: #FDF1E1;
$color-yellow-bright: #F7C546;
$color-orange: #F2871E;
$color-dark-blue: #04012B;
$color-white: #FFFBFC;
$color-grey: #E8E8E8;
$color-brown: #5A1A1A;
$color-blue: #1A315A;
$color-logo-box: rgba(244,158,34, .2);
$color-line: #F49E22;
$color-red: #F06303;
$color-grey-light: #f7f7f7;
$color-black: #1E1C24;
$color-blue-normal: #212C4C;
$color-box: #FDF1E1;


// wallet text variables (desktop)
$min_width: 768px;
$max_width: 1600px;
$min_font: 100px;
$max_font: 200px;


// Heading Variables (Desktop)
$min_width-heading-desk: 768px;
$max_width-heading-desk: 1600px;
$min_font-heading-desk: 25px;
$max_font-heading-desk: 55px;

// Sub heading font variables (desktop)
$min_width-sub-desk: 768px;
$max_width-sub-desk: 1600px;
$min_font-sub-desk: 12px;
$max_font-sub-desk: 18px;

// Default content font size variables (desktop)
$min_width-def-desk: 768px;
$max_width-def-desk: 1600px;
$min_font-def-desk: 14px;
$max_font-def-desk: 18px;

// Nav links font size variables (desktop)
$min_width-navigation-desk: 768px;
$max_width-navigation-desk: 1600px;
$min_font-navigation-desk: 15px;
$max_font-navigation-desk: 18px;

// Content heading font size variables (desktop)
$min_width-content-heading-desk: 768px;
$max_width-content-heading-desk: 1600px;
$min_font-content-heading-desk: 25px;
$max_font-content-heading-desk: 50px;

// Content text font size variables (desktop)
$min_width-content-text-desk: 768px;
$max_width-content-text-desk: 1600px;
$min_font-content-text-desk: 10px;
$max_font-content-text-desk: 18px;

// Default button font size variables (desktop)
$min_width-btn-desk: 768px;
$max_width-btn-desk: 1600px;
$min_font-btn-desk: 12px;
$max_font-btn-desk: 15px;

// Bitcoin Quicksell heading variables (desktop)
$min_width-btcHead-desk: 768px;
$max_width-btcHead-desk: 1600px;
$min_font-btcHead-desk: 25px;
$max_font-btcHead-desk: 40px;

// Quicksell form heading
$min_width-formHead-desk: 1200px;
$max_width-formHead-desk: 1600px;
$min_font-formHead-desk: 15px;
$max_font-formHead-desk: 24px;

// Quicksell form sub heading
$min_width-formSub-desk: 1200px;
$max_width-formSub-desk: 1600px;
$min_font-formSub-desk: 9px;
$max_font-formSub-desk: 13px;

// QUicksell form default
$min_width-formDefault-desk: 1200px;
$max_width-formDefault-desk: 1600px;
$min_font-formDefault-desk: 20px;
$max_font-formDefault-desk: 25px;

// Footer text
$min_width-footer-desk: 768px;
$max_width-footer-desk: 1600px;
$min_font-footer-desk: 7px;
$max_font-footer-desk: 11px;

/*
    MOBILE
*/
// Content Heading
$min_width-heading-mobile: 325px;
$max_width-heading-mobile: 1200px;
$min_font-heading-mobile: 18px;
$max_font-heading-mobile: 28px;

// Content Text
$min_width-contentText-mobile: 325px;
$max_width-contentText-mobile: 1200px;
$min_font-contentText-mobile: 14px;
$max_font-contentText-mobile: 20px;

// Small content text
$min_width-contentSmall-mobile: 325px;
$max_width-contentSmall-mobile: 1200px;
$min_font-contentSmall-mobile: 13px;
$max_font-contentSmall-mobile: 18px;

// Quicksell form heading
$min_width-quickHeading-mobile: 325px;
$max_width-quickHeading-mobile: 1200px;
$min_font-quickHeading-mobile: 15px;
$max_font-quickHeading-mobile: 21px;

// Quicksell form sub
$min_width-quickSub-mobile: 325px;
$max_width-quickSub-mobile: 1200px;
$min_font-quickSub-mobile: 10px;
$max_font-quickSub-mobile: 15px;

// Default button
$min_width-btn-mobile: 325px;
$max_width-btn-mobile: 1200px;
$min_font-btn-mobile: 12px;
$max_font-btn-mobile: 15px;


