*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $font;
    // overflow: hidden;

    @include respond(dektop) {
        cursor: none !important;
    }
}