@font-face {
    src: url(/fonts/BwModelica-Bold.woff2);
    font-family: 'BwModelica-bold';
    font-weight: bold;
}

@font-face {
    src: url(/fonts/BwModelica-Medium.woff2);
    font-family: 'BwModelica-medium';
    font-weight: 400;
}

@font-face {
    src: url(/fonts/BwModelica-Regular.woff2);
    font-family: 'BwModelica-regular';
    // font-weight: normal;
}

@font-face {
    src: url(/fonts/BwModelica-Light.woff2);
    font-family: 'BwModelica-light';
    // font-weight: normal;
}

@font-face {
    src: url(/fonts/BwModelica-ExtraBold.woff2);
    font-family: 'BwModelica-xbold';
    font-weight: bolder;
}

// @font-face {
//     src: url(/fonts/BwModelica-Black.woff2);
//     font-family: 'BwModelica';
//     font-weight: bolder;
// }

@font-face {
    src: url(/fonts/BwModelica-Hairline.woff2);
    font-family: 'Hairline';
    font-weight: normal;
}

@font-face {
    src: url(/fonts/Rattman.ttf);
    font-family: 'Rattman';
    font-weight: normal;
}



